$default-font: "Roboto", sans-serif;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;

$main-color: #6191a4;
$accent-color: #d7836a;

@mixin mt($time) {
	transition: all $time ease;
}

@mixin ovrly {
	&::after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		background-color: darken($main-color, 35%);
		opacity: .8;
		z-index: 0;
	}
}