@import "vars";
@import "fonts";
@import "libs";


::placeholder {
	color: #666;
}

::selection {
	background-color: $main-color;
	color: #fff;
}

html, body {
	height: 100%;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;

	input, textarea {
				border: #666 1px solid;
				outline: none;
			}

			&:focus:required:invalid {
				border-color: red;
			}

			&:required:valid {
				border-color: green;
			}
}

h1, 
h2, 
h3,
h4,
h5,
h6 {
	font-family: RobotoCondensed;
	font-weight: bold;
}

section {
	padding: 100px 0;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.text-center {
	text-align: center;
}

.hidden {
	display: none;
}

.button {
	position: relative;
	font-family: RobotoCondensed;
	font-size: em(15px);
	display: inline-block;
	background: $main-color;
	padding: 11px 23px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	color: #fff;
	border: 1px solid darken($main-color, 7%);
	border-radius: 3px;

	@include mt(.5s);

	&:hover {
		color: #fff;
		text-decoration: none;
		background-color: darken($main-color, 5%);
	}
}

.btn-orange {
	background: $accent-color;
	border: 1px solid darken($accent-color, 6%);

	&:hover {
		background-color: darken($accent-color, 5%);
	}
}

@import "header";


@import "media"; // Always at the end
